openapi: 3.0.3
info:
  title: Badminton Service API
  version: 0.1.0
  description: |
    Backend API for managing badminton groups, participants, matches and ratings (Elo).

    Roles:
    - **User**: registers via Telegram, views own stats/ratings, views own groups, creates new groups.
    - **Group admin**: manages participants, links registered users to participants, manages match results.
servers:
  - url: https://badminton-service.website
    description: Production
  - url: http://localhost:8080
    description: Local
tags:
  - name: TelegramAuth
  - name: Users
  - name: Groups
  - name: Participants
  - name: Matches
  - name: Stats
  - name: Ratings
security:
  - bearerAuth: [ ]
paths:
  /api/auth/telegram/login:
    post:
      tags: [ TelegramAuth ]
      security: [ ]
      summary: Login via Telegram authorization data
      operationId: telegramLogin
      description: |
        Returns access and refresh tokens for the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelegramUser'
            example:
              id: 1319061322
              auth_date: 1766345094
              hash: b4af7f35972edeaced1348fd7a8c29bbf42e984f0b42eb5cc22155c6fb9c016e
              first_name: Maks
              last_name: Molch
              username: maksmolch
              photo_url: https://t.me/i/userpic/320/UEfLx103sdNTvYSrIxFEV8Ug_Z8nBWTrGu1eBRgmbmY.jpg
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              example:
                accessToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0OiR7c2VydmVyLnBvcnR9Iiwic3ViIjoiMTMxOTA2MTMyMiIsImlhdCI6MTc2NjM0NTA5NCwiZXhwIjoxNzY2MzQ4Njk0fQ.H3MEPxHKiNlLyybB1m_YHg13EAfD-VzgDR4Isw8tiSirsQ4Zzn4JgDDe0ulLws1qARV_oiiT0MR22f7wjghYsc0JkXPSE2amHQP6Jw-0bFy9myeLA_LPV7CBzk1RUoDqzrAudPiaeiT3rguI-GoRE0uXHMTWlmhXSHgVNiXQiQEYcxiUlqRG0xiQoJlma0L4cI2vYOnMiI0d03IGXu2Aod76GNiBRnOHzWowX658CvAlSGYaKf6sxfy1Zfclp_zgo65vC3f5e0GZDc4gqV9cia1hggyK6dQlxfVS3_TKKPKJ7rAH0c1e4d7ruMVNCz-CPC1XqejlssFH64ecTKjIkw
                refreshToken: 1bdc818f-7851-4aef-b31a-a6999a4cab52
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/refresh:
    post:
      tags: [ TelegramAuth ]
      summary: Generate new access and refresh tokens using refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
            example:
              refreshToken: 1bdc818f-7851-4aef-b31a-a6999a4cab52
      responses:
        '200':
          description: Successfully refreshed tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              example:
                accessToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0OiR7c2VydmVyLnBvcnR9Iiwic3ViIjoiMTMxOTA2MTMyMiIsImlhdCI6MTc2NjM0NTA5NCwiZXhwIjoxNzY2MzQ4Njk0fQ.H3MEPxHKiNlLyybB1m_YHg13EAfD-VzgDR4Isw8tiSirsQ4Zzn4JgDDe0ulLws1qARV_oiiT0MR22f7wjghYsc0JkXPSE2amHQP6Jw-0bFy9myeLA_LPV7CBzk1RUoDqzrAudPiaeiT3rguI-GoRE0uXHMTWlmhXSHgVNiXQiQEYcxiUlqRG0xiQoJlma0L4cI2vYOnMiI0d03IGXu2Aod76GNiBRnOHzWowX658CvAlSGYaKf6sxfy1Zfclp_zgo65vC3f5e0GZDc4gqV9cia1hggyK6dQlxfVS3_TKKPKJ7rAH0c1e4d7ruMVNCz-CPC1XqejlssFH64ecTKjIkw
                refreshToken: 1bdc818f-7851-4aef-b31a-a6999a4cab52
        '400':
          description: Bad request (invalid refresh token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (expired or invalid refresh token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/logout:
    post:
      tags: [ TelegramAuth ]
      summary: Logout current session (token revocation if supported)
      operationId: logout
      responses:
        "204":
          description: Logged out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me:
    get:
      tags: [ Users ]
      summary: Current user profile
      operationId: getCurrentUser
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [ Users ]
      summary: Update current user profile
      operationId: updateCurrentUser
      description: |
        Partial update of the authenticated user's firstName / lastName / photoUrl / photoCrop.
        Same semantics as participant update. Any registered user may edit themselves.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateRequest"
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/users/search:
    get:
      tags: [ Users ]
      summary: Search users
      operationId: searchUsers
      description: |
        Global prefix search of registered users by username / first / last name
        (case-insensitive, starts-with). Sorted by username. Authenticated users only.
      parameters:
        - in: query
          name: query
          description: Prefix filter on username or name (case-insensitive)
          schema: { type: string, default: "" }
        - in: query
          name: limit
          description: Page size
          schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
        - in: query
          name: pageToken
          description: Opaque cursor for the next page (omit on first request)
          schema: { type: string }
      responses:
        "200":
          description: Users search page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPage"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/groups:
    get:
      tags: [ Groups ]
      summary: List groups where current user is a member (via linked participant)
      operationId: listGroups
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: pageToken
          schema: { type: string }
      responses:
        "200":
          description: Groups page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupPage"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [ Groups ]
      summary: Create new group
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupCreateRequest"
      responses:
        "201":
          description: Group created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/groups/{groupId}:
    get:
      tags: [ Groups ]
      summary: Get group by id (member-only)
      operationId: getGroup
      parameters:
        - $ref: "#/components/parameters/GroupId"
      responses:
        "200":
          description: Group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/participants:
    get:
      tags: [ Participants ]
      summary: List participants in group (member-only)
      operationId: listParticipants
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: pageToken
          schema: { type: string }
      responses:
        "200":
          description: Participants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags: [ Participants ]
      summary: Create participant (admin-only)
      operationId: createParticipant
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantCreateRequest"
      responses:
        "201":
          description: Participant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Conflict (e.g. participant with such name already exists in group)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/groups/{groupId}/participants/search:
    get:
      tags: [ Participants ]
      summary: Search participants in group with pagination (member-only)
      operationId: searchParticipants
      description: |
        Prefix search of group participants by username / first / last / full name
        (case-insensitive, starts-with). Results are sorted alphabetically.
        Same response shape as listing participants: `items` plus optional opaque `pageToken` for the next page.
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - in: query
          name: query
          description: Prefix filter on username or name (case-insensitive)
          schema: { type: string, default: "" }
        - in: query
          name: limit
          description: Page size
          schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
        - in: query
          name: pageToken
          description: Opaque cursor for the next page (omit on first request)
          schema: { type: string }
      responses:
        "200":
          description: Participants search page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/photo-upload-url:
    post:
      tags: [ Participants ]
      summary: Create presigned URL for participant photo upload (admin-only)
      operationId: createPhotoUploadUrl
      description: |
        Returns a short-lived presigned PUT URL for Yandex Object Storage.
        The client uploads the image directly to the bucket (CORS), then passes
        `publicUrl` as `photoUrl` on create/patch participant.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PhotoUploadUrlRequest"
      responses:
        "200":
          description: Presigned upload URL created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoUploadUrlResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/participants/unlinked:
    post:
      tags: [ Participants ]
      summary: Create unlinked participant (admin-only)
      operationId: createUnlinkedParticipant
      description: |
        Creates a user without Telegram (`tg_id` null) and adds them to the group as a member.
        Linking to a Telegram account is a separate flow.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantUnlinkedCreateRequest"
      responses:
        "201":
          description: Unlinked participant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Conflict (e.g. username already taken)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/groups/{groupId}/participants/{participantId}:
    patch:
      tags: [ Participants ]
      summary: Update unlinked participant (admin-only)
      description: |
        Updates firstName / lastName / photoUrl of an unlinked participant
        (`groupId` set, no Telegram). Forbidden for registered Telegram users.
      operationId: updateParticipant
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/ParticipantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantUpdateRequest"
      responses:
        "200":
          description: Updated participant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [ Participants ]
      summary: Delete participant (admin-only)
      operationId: deleteParticipant
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/ParticipantId"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/participants/{participantId}/link-user:
    post:
      tags: [ Participants ]
      summary: Link registered user to participant (admin-only)
      operationId: linkParticipantUser
      description: |
        Binds a registered user (by id) to a participant entry in a group.
        Useful when participant was created before user registration.
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/ParticipantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkUserRequest"
      responses:
        "200":
          description: Linked participant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Conflict (e.g. user already linked to another participant in the same group)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/groups/{groupId}/matches/singles:
    post:
      tags: [ Matches ]
      summary: Create singles match (admin-only)
      operationId: createSinglesMatch
      description: |
        Create a singles match. Body is the same as before without `kind` (singles is implied by the path).

        Replaces the old `POST /api/groups/{groupId}/matches` with `kind: singles`.
        One DB row is created per game in `score.games` (1–5). No response body.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchSinglesCreateRequest"
      responses:
        "201":
          description: Match(es) created (one row per game in score; no response body)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/matches/doubles:
    post:
      tags: [ Matches ]
      summary: Create doubles match (admin-only)
      operationId: createDoublesMatch
      description: |
        Create a doubles match. Body is the same as before without `kind`.

        Replaces the old `POST /api/groups/{groupId}/matches` with `kind: doubles`.
        One DB row is created per game in `score.games` (1–5). No response body.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchDoublesCreateRequest"
      responses:
        "201":
          description: Match(es) created (one row per game in score; no response body)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/matches/{matchId}:
    patch:
      tags: [ Matches ]
      summary: Update match result (admin-only)
      operationId: updateMatch
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchUpdateRequest"
      responses:
        "200":
          description: Updated match
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Match"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [ Matches ]
      summary: Delete match result (admin-only)
      operationId: deleteMatch
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/MatchId"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/me/games-stats:
    get:
      tags: [ Stats ]
      summary: Current user aggregate game statistics
      operationId: getMyGamesStats
      description: Returns win/loss totals for singles and doubles (across all groups the user participates in).
      responses:
        "200":
          description: Aggregate game stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserGamesStats"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me/matches/singles:
    get:
      tags: [ Stats ]
      summary: List current user's singles matches (paginated)
      operationId: listMySinglesMatches
      description: |
        Returns singles matches where the current user participated (via linked participant),
        sorted by createdAt descending.

        Optional **`groupId`**: when set, only matches in that group are returned. The caller must be a member of the group.

        Group match history in the UI should use this endpoint with **`groupId`** instead of a separate group matches list API.
      parameters:
        - in: query
          name: groupId
          required: false
          description: Filter to this group UUID (membership required)
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 20 }
        - in: query
          name: pageToken
          schema: { type: string }
      responses:
        "200":
          description: Paginated singles matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/me/matches/doubles:
    get:
      tags: [ Stats ]
      summary: List current user's doubles matches (paginated)
      operationId: listMyDoublesMatches
      description: |
        Returns doubles matches where the current user participated (via linked participant),
        sorted by createdAt descending.

        Optional **`groupId`**: when set, only matches in that group are returned. The caller must be a member of the group.

        Group match history in the UI should use this endpoint with **`groupId`** instead of a separate group matches list API.
      parameters:
        - in: query
          name: groupId
          required: false
          description: Filter to this group UUID (membership required)
          schema:
            type: string
            format: uuid
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 20 }
        - in: query
          name: pageToken
          schema: { type: string }
      responses:
        "200":
          description: Paginated doubles matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/me/ratings:
    get:
      tags: [ Ratings ]
      summary: Current user ratings (singles + doubles)
      operationId: getMyRatings
      parameters:
        - in: query
          name: limit
          description: Page size for doubles-by-partner ratings
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: pageToken
          description: Opaque page token for doubles-by-partner ratings (null for first page)
          schema: { type: string }
      responses:
        "200":
          description: Ratings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRatings"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/groups/{groupId}/ratings/singles:
    get:
      tags: [ Ratings ]
      summary: Singles Elo leaderboard in group (member-only)
      operationId: listSinglesRatings
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: pageToken
          schema: { type: string }
      responses:
        "200":
          description: Leaderboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingRowSinglesPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/ratings/doubles:
    get:
      tags: [ Ratings ]
      summary: Doubles Elo leaderboard in group (member-only)
      operationId: listDoublesRatings
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: pageToken
          schema: { type: string }
      responses:
        "200":
          description: Leaderboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingRowDoublesPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    GroupId:
      in: path
      name: groupId
      required: true
      schema: { type: string }
    ParticipantId:
      in: path
      name: participantId
      required: true
      schema: { type: string }
    MatchId:
      in: path
      name: matchId
      required: true
      schema: { type: string }

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    TelegramUser:
      type: object
      required:
        - id
        - auth_date
        - hash
      properties:
        id:
          type: integer
          format: int64
        first_name:
          type: string
        last_name:
          type: string
        username:
          type: string
        photo_url:
          type: string
        auth_date:
          type: integer
          format: int64
        hash:
          type: string

    TokenResponse:
      type: object
      required:
        - accessToken
        - refreshToken
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string

    RefreshRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string

    ErrorResponse:
      type: object
      required:
        - timestamp
        - message
        - path
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        path:
          type: string

    PhotoCrop:
      type: object
      additionalProperties: false
      description: |
        Normalized crop rectangle on the original photo (0–1 relative to width/height).
        All four fields required when present. x+width ≤ 1, y+height ≤ 1.
      properties:
        x:
          type: number
          minimum: 0
          maximum: 1
        y:
          type: number
          minimum: 0
          maximum: 1
        width:
          type: number
          exclusiveMinimum: 0
          maximum: 1
        height:
          type: number
          exclusiveMinimum: 0
          maximum: 1
      required: [ x, y, width, height ]

    User:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        username: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        photoUrl:
          type: string
          description: Profile photo URL (http/https)
        photoCrop:
          $ref: "#/components/schemas/PhotoCrop"
      required: [ id, username ]

    UserUpdateRequest:
      type: object
      additionalProperties: false
      description: |
        Partial update: only fields present in the body are applied.
        `firstName` / `lastName` update the corresponding columns; omitted fields are left unchanged.
        `photoUrl` sets photo (empty string clears). `photoCrop` sets crop (`null` clears).
        At least one field must be present.
      properties:
        firstName: { type: string, minLength: 1, maxLength: 255 }
        lastName: { type: string, minLength: 1, maxLength: 255 }
        photoUrl:
          type: string
          maxLength: 4096
          description: Profile photo http/https URL; empty string clears photo
        photoCrop:
          allOf:
            - $ref: "#/components/schemas/PhotoCrop"
          nullable: true
          description: Crop rectangle; null clears crop

    Group:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        name: { type: string, example: Friday Badminton }
        myRole:
          type: string
          description: Role of current user in this group
          enum: [ member, admin ]
      required: [ id, name ]

    GroupCreateRequest:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
      required: [ name ]

    GroupPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Group"
        pageToken:
          type: string
      required: [ items ]

    UserPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/User"
        pageToken:
          type: string
      required: [ items ]

    Participant:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        name: { type: string, example: Maks, description: Display name (firstName + lastName) }
        firstName: { type: string }
        lastName: { type: string }
        username:
          type: string
          description: Login / handle
        userId:
          type: string
          description: Linked registered user id (if any)
        groupId:
          type: string
          description: |
            Owning group for an unlinked (not registered via Telegram) participant.
            Null for registered Telegram users.
        photoUrl:
          type: string
          description: Profile photo URL (http/https; Telegram or external)
        photoCrop:
          $ref: "#/components/schemas/PhotoCrop"
      required: [ id, name, username ]

    ParticipantCreateRequest:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
      required: [ name ]

    PhotoUploadUrlRequest:
      type: object
      additionalProperties: false
      description: Request a presigned PUT URL for a participant profile photo.
      properties:
        contentType:
          type: string
          enum: [ image/jpeg, image/png, image/webp ]
          description: MIME type of the file that will be uploaded
        contentLength:
          type: integer
          format: int64
          minimum: 1
          maximum: 5242880
          description: Optional file size in bytes (max 5 MiB); validated when present
      required: [ contentType ]

    PhotoUploadUrlResponse:
      type: object
      additionalProperties: false
      properties:
        uploadUrl:
          type: string
          format: uri
          description: Presigned PUT URL for the browser upload
        publicUrl:
          type: string
          format: uri
          description: Public https URL to store as participant photoUrl after upload
        objectKey:
          type: string
          description: Object key inside the bucket
        expiresAt:
          type: string
          format: date-time
          description: When the presigned uploadUrl expires
      required: [ uploadUrl, publicUrl, objectKey, expiresAt ]

    ParticipantUnlinkedCreateRequest:
      type: object
      additionalProperties: false
      description: |
        Create a participant that does not yet have a Telegram account.
        `username` is chosen by the client (typically derived from first/last name).
      properties:
        username: { type: string, minLength: 1, maxLength: 255 }
        firstName: { type: string, minLength: 1, maxLength: 255 }
        lastName: { type: string, minLength: 1, maxLength: 255 }
        photoUrl:
          type: string
          maxLength: 4096
          description: Optional profile photo http/https URL (Telegram, VK, etc.)
        photoCrop:
          allOf:
            - $ref: "#/components/schemas/PhotoCrop"
          description: Optional crop rectangle on photoUrl
      required: [ username, firstName, lastName ]

    ParticipantUpdateRequest:
      type: object
      additionalProperties: false
      description: |
        Partial update: only fields present in the body are applied.
        `firstName` / `lastName` update the corresponding columns; omitted fields are left unchanged.
        `photoUrl` sets photo (empty string clears). `photoCrop` sets crop (`null` clears).
        At least one field must be present.
      properties:
        firstName: { type: string, minLength: 1, maxLength: 255 }
        lastName: { type: string, minLength: 1, maxLength: 255 }
        photoUrl:
          type: string
          maxLength: 4096
          description: Profile photo http/https URL; empty string clears photo
        photoCrop:
          allOf:
            - $ref: "#/components/schemas/PhotoCrop"
          nullable: true
          description: Crop rectangle; null clears crop

    LinkUserRequest:
      type: object
      additionalProperties: false
      properties:
        userId: { type: string }
      required: [ userId ]

    MatchKind:
      type: string
      enum: [ singles, doubles ]

    Match:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        kind: { $ref: "#/components/schemas/MatchKind" }
        createdAt: { type: string, format: date-time }
        # Singles: teamA = [p1], teamB = [p2]
        # Doubles: teamA = [p1,p2], teamB = [p3,p4]
        teamA:
          type: array
          items: { type: string, description: Participant id }
          minItems: 1
          maxItems: 2
        teamB:
          type: array
          items: { type: string, description: Participant id }
          minItems: 1
          maxItems: 2
        score:
          $ref: "#/components/schemas/MatchScore"
      required: [ id, kind, createdAt, teamA, teamB, score ]

    MatchScore:
      type: object
      additionalProperties: false
      description: |
        Match score as list of games. Each game has pointsA and pointsB.
      properties:
        games:
          type: array
          minItems: 1
          maxItems: 5
          items:
            $ref: "#/components/schemas/GameScore"
      required: [ games ]

    GameScore:
      type: object
      additionalProperties: false
      properties:
        pointsA: { type: integer, minimum: 0 }
        pointsB: { type: integer, minimum: 0 }
      required: [ pointsA, pointsB ]

    MatchSinglesCreateRequest:
      type: object
      additionalProperties: false
      properties:
        teamA:
          type: array
          items: { type: string }
          minItems: 1
          maxItems: 1
        teamB:
          type: array
          items: { type: string }
          minItems: 1
          maxItems: 1
        score:
          $ref: "#/components/schemas/MatchScore"
      required: [ teamA, teamB, score ]

    MatchDoublesCreateRequest:
      type: object
      additionalProperties: false
      properties:
        teamA:
          type: array
          items: { type: string }
          minItems: 2
          maxItems: 2
        teamB:
          type: array
          items: { type: string }
          minItems: 2
          maxItems: 2
        score:
          $ref: "#/components/schemas/MatchScore"
      required: [ teamA, teamB, score ]

    MatchUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        teamA:
          type: array
          items: { type: string }
          minItems: 1
          maxItems: 2
        teamB:
          type: array
          items: { type: string }
          minItems: 1
          maxItems: 2
        score:
          $ref: "#/components/schemas/GameScore"
          description: Single game score for this match row (not a list).

    MatchPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Match" }
        pageToken:
          type: string
      required: [ items ]

    UserGamesStats:
      type: object
      additionalProperties: false
      description: Aggregate singles/doubles statistics for the current user
      properties:
        singles:
          $ref: "#/components/schemas/StatsBlock"
        doubles:
          $ref: "#/components/schemas/StatsBlock"
      required: [ singles, doubles ]

    StatsBlock:
      type: object
      additionalProperties: false
      properties:
        matchesPlayed: { type: integer, minimum: 0 }
        matchesWon: { type: integer, minimum: 0 }
        matchesLost: { type: integer, minimum: 0 }
        winRate:
          type: number
          format: double
          minimum: 0
          maximum: 1
      required: [ matchesPlayed, matchesWon, matchesLost, winRate ]

    UserRatings:
      type: object
      additionalProperties: false
      properties:
        singlesElo:
          type: number
          format: double
          description: Current singles Elo (aggregated across groups where the user is linked)
        doublesByPartner:
          type: array
          description: Doubles Elo ratings grouped by partner
          items:
            type: object
            additionalProperties: false
            properties:
              partnerUserId: { type: string }
              partnerName: { type: string }
              partnerUsername: { type: string }
              partnerPhotoUrl:
                type: string
                description: Telegram profile photo URL (if available)
              games: { type: integer, minimum: 0 }
              wins: { type: integer, minimum: 0 }
              losses: { type: integer, minimum: 0 }
              elo: { type: number, format: double }
            required: [ partnerUserId, partnerName, partnerUsername, games, wins, losses, elo ]
        doublesByPartnerPageToken:
          type: string
          description: Opaque page token for fetching next page of doubles-by-partner ratings
      required: [ singlesElo, doublesByPartner ]

    RatingRowSingles:
      type: object
      additionalProperties: false
      properties:
        rank:
          type: integer
          minimum: 1
          description: Place in the leaderboard (1-based)
        participantId: { type: string }
        participantName: { type: string }
        elo: { type: number, format: double }
      required: [ rank, participantId, participantName, elo ]

    RatingRowDoubles:
      type: object
      additionalProperties: false
      description: |
        Elo for a pair. pairKey can be stable concatenation of sorted participant ids.
      properties:
        rank:
          type: integer
          minimum: 1
          description: Place in the leaderboard (1-based)
        pairKey: { type: string, example: "p1:p2" }
        participantNames:
          type: array
          items: { type: string }
          minItems: 2
          maxItems: 2
        elo: { type: number, format: double }
      required: [ rank, pairKey, participantNames, elo ]

    ParticipantPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Participant"
        pageToken:
          type: string
      required: [ items ]

    RatingRowSinglesPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/RatingRowSingles"
        pageToken:
          type: string
      required: [ items ]

    RatingRowDoublesPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/RatingRowDoubles"
        pageToken:
          type: string
      required: [ items ]
