openapi: 3.0.3
info:
  title: Badminton Service API
  version: 0.1.0
  description: |
    Backend API for managing badminton groups, participants, matches and ratings (Elo).

    Roles:
    - **User**: registers via Telegram, views own stats/ratings, views own groups, creates new groups.
    - **Group admin**: manages participants, links registered users to participants, manages match results.
servers:
  - url: https://badminton-service.website
    description: Production
  - url: http://localhost:8080
    description: Local
tags:
  - name: TelegramAuth
  - name: Users
  - name: Groups
  - name: Participants
  - name: Invitations
  - name: Notifications
  - name: Matches
  - name: Stats
  - name: Ratings
security:
  - bearerAuth: [ ]
paths:
  /api/auth/telegram/login:
    post:
      tags: [ TelegramAuth ]
      security: [ ]
      summary: Login via Telegram authorization data
      operationId: telegramLogin
      description: |
        Returns access and refresh tokens for the user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelegramUser'
            example:
              id: 1319061322
              auth_date: 1766345094
              hash: b4af7f35972edeaced1348fd7a8c29bbf42e984f0b42eb5cc22155c6fb9c016e
              first_name: Maks
              last_name: Molch
              username: maksmolch
              photo_url: https://t.me/i/userpic/320/UEfLx103sdNTvYSrIxFEV8Ug_Z8nBWTrGu1eBRgmbmY.jpg
      responses:
        '200':
          description: Successfully authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              example:
                accessToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0OiR7c2VydmVyLnBvcnR9Iiwic3ViIjoiMTMxOTA2MTMyMiIsImlhdCI6MTc2NjM0NTA5NCwiZXhwIjoxNzY2MzQ4Njk0fQ.H3MEPxHKiNlLyybB1m_YHg13EAfD-VzgDR4Isw8tiSirsQ4Zzn4JgDDe0ulLws1qARV_oiiT0MR22f7wjghYsc0JkXPSE2amHQP6Jw-0bFy9myeLA_LPV7CBzk1RUoDqzrAudPiaeiT3rguI-GoRE0uXHMTWlmhXSHgVNiXQiQEYcxiUlqRG0xiQoJlma0L4cI2vYOnMiI0d03IGXu2Aod76GNiBRnOHzWowX658CvAlSGYaKf6sxfy1Zfclp_zgo65vC3f5e0GZDc4gqV9cia1hggyK6dQlxfVS3_TKKPKJ7rAH0c1e4d7ruMVNCz-CPC1XqejlssFH64ecTKjIkw
                refreshToken: 1bdc818f-7851-4aef-b31a-a6999a4cab52
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/refresh:
    post:
      tags: [ TelegramAuth ]
      summary: Generate new access and refresh tokens using refresh token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
            example:
              refreshToken: 1bdc818f-7851-4aef-b31a-a6999a4cab52
      responses:
        '200':
          description: Successfully refreshed tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
              example:
                accessToken: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwOi8vbG9jYWxob3N0OiR7c2VydmVyLnBvcnR9Iiwic3ViIjoiMTMxOTA2MTMyMiIsImlhdCI6MTc2NjM0NTA5NCwiZXhwIjoxNzY2MzQ4Njk0fQ.H3MEPxHKiNlLyybB1m_YHg13EAfD-VzgDR4Isw8tiSirsQ4Zzn4JgDDe0ulLws1qARV_oiiT0MR22f7wjghYsc0JkXPSE2amHQP6Jw-0bFy9myeLA_LPV7CBzk1RUoDqzrAudPiaeiT3rguI-GoRE0uXHMTWlmhXSHgVNiXQiQEYcxiUlqRG0xiQoJlma0L4cI2vYOnMiI0d03IGXu2Aod76GNiBRnOHzWowX658CvAlSGYaKf6sxfy1Zfclp_zgo65vC3f5e0GZDc4gqV9cia1hggyK6dQlxfVS3_TKKPKJ7rAH0c1e4d7ruMVNCz-CPC1XqejlssFH64ecTKjIkw
                refreshToken: 1bdc818f-7851-4aef-b31a-a6999a4cab52
        '400':
          description: Bad request (invalid refresh token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized (expired or invalid refresh token)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/auth/logout:
    post:
      tags: [ TelegramAuth ]
      summary: Logout current session (token revocation if supported)
      operationId: logout
      responses:
        "204":
          description: Logged out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me/notifications:
    get:
      tags: [ Notifications ]
      summary: List notifications for current user
      operationId: listMyNotifications
      description: |
        Paginated inbox filtered by `unread`. Newest `createdAt` first.
        Default filter is unread (`unread=true`).
      parameters:
        - $ref: "#/components/parameters/Unread"
        - $ref: "#/components/parameters/Limit20Max100"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: User notifications page (newest first within the unread filter)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserNotificationPage"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me/notifications/{notificationId}/read:
    post:
      tags: [ Notifications ]
      summary: Mark notification as read
      operationId: markNotificationRead
      description: |
        Sets `unread=false` for the current user's notification. Idempotent if already read.
      parameters:
        - name: notificationId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "204":
          description: Marked as read (or already read)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/me/notifications/{notificationId}/link-user-matches:
    get:
      tags: [ Notifications ]
      summary: List unlinked participant matches for a link-user invite notification
      operationId: listLinkUserInviteMatches
      description: |
        Returns paginated singles or doubles matches of the unlinked participant referenced by
        a pending `link_user_invite` notification owned by the current user.

        Access is granted only via `notificationId` (no direct unlinked user id lookup).
      parameters:
        - name: notificationId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: kind
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/MatchKind"
        - $ref: "#/components/parameters/Limit20Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Paginated matches for the unlinked participant in the invite group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/invitations/{invitationId}/respond:
    post:
      tags: [ Invitations ]
      summary: Accept or reject invitation (invitee-only)
      operationId: respondToInvitation
      description: |
        Resolves a pending invitation. On reject, notifies the inviting admin
        (in-app + Telegram).
      parameters:
        - $ref: "#/components/parameters/InvitationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvitationRespondRequest"
      responses:
        "200":
          description: Invitation resolved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupInvitation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/me:
    get:
      tags: [ Users ]
      summary: Current user profile
      operationId: getCurrentUser
      responses:
        "200":
          description: Profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          $ref: "#/components/responses/Unauthorized"
    patch:
      tags: [ Users ]
      summary: Update current user profile
      operationId: updateCurrentUser
      description: |
        Partial update of the authenticated user's firstName / lastName / photoUrl / photoCrop.
        Same semantics as participant update. Any registered user may edit themselves.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateRequest"
      responses:
        "200":
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/users/search:
    get:
      tags: [ Users ]
      summary: Search users
      operationId: searchUsers
      description: |
        Global prefix search of users by username / first / last name
        (case-insensitive, starts-with). Sorted by username. Authenticated users only.
        Pass `registeredOnly=true` to exclude unlinked participants (`tg_id IS NULL`).
      parameters:
        - $ref: "#/components/parameters/NameQuery"
        - $ref: "#/components/parameters/RegisteredOnly"
        - $ref: "#/components/parameters/Limit10Max100"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Users search page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPage"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/groups:
    get:
      tags: [ Groups ]
      summary: List groups where current user is a member (via linked participant)
      operationId: listGroups
      parameters:
        - $ref: "#/components/parameters/Limit50Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Groups page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupPage"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      tags: [ Groups ]
      summary: Create new group
      operationId: createGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupCreateRequest"
      responses:
        "201":
          description: Group created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/groups/{groupId}:
    get:
      tags: [ Groups ]
      summary: Get group by id (member-only)
      operationId: getGroup
      parameters:
        - $ref: "#/components/parameters/GroupId"
      responses:
        "200":
          description: Group
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/transfer-ownership:
    post:
      tags: [ Groups ]
      summary: Transfer group ownership (owner-only)
      operationId: transferGroupOwnership
      description: |
        Sets `group_table.created_by_user_id` to another registered member.
        The new owner is promoted to `admin` if needed. Caller must be the current owner.
        Roles stay ADMIN for both; ownership is only the created_by column.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GroupOwnershipTransferRequest"
      responses:
        "200":
          description: Group after ownership transfer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Group"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/participants:
    get:
      tags: [ Participants ]
      summary: List participants in group (member-only)
      operationId: listParticipants
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/Limit50Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Participants
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      tags: [ Participants ]
      summary: Invite registered user to group (owner/admin)
      operationId: createParticipant
      description: |
        Creates a pending GROUP_JOIN invitation and notifies the registered user in Telegram.
        Membership is added only after the invitee accepts.
        A pending GROUP_JOIN may coexist with a pending LINK_USER for the same invitee in the group.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantCreateRequest"
      responses:
        "201":
          description: Invitation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupInvitation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/groups/{groupId}/participants/search:
    get:
      tags: [ Participants ]
      summary: Search participants in group with pagination (member-only)
      operationId: searchParticipants
      description: |
        Prefix search of group participants by username / first / last / full name
        (case-insensitive, starts-with). Results are sorted alphabetically.
        Same response shape as listing participants: `items` plus optional opaque `pageToken` for the next page.
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/NameQuery"
        - $ref: "#/components/parameters/Limit10Max100"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Participants search page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/photo-upload-url:
    post:
      tags: [ Participants ]
      summary: Create presigned URL for participant photo upload (owner/admin)
      operationId: createPhotoUploadUrl
      description: |
        Returns a short-lived presigned PUT URL for Yandex Object Storage.
        The client uploads the image directly to the bucket (CORS), then passes
        `publicUrl` as `photoUrl` on create/patch participant.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PhotoUploadUrlRequest"
      responses:
        "200":
          description: Presigned upload URL created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoUploadUrlResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/participants/unlinked:
    post:
      tags: [ Participants ]
      summary: Create unlinked participant (owner/admin)
      operationId: createUnlinkedParticipant
      description: |
        Creates a user without Telegram (`tg_id` null) and adds them to the group as a member.
        Linking to a Telegram account is a separate flow.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantUnlinkedCreateRequest"
      responses:
        "201":
          description: Unlinked participant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Conflict (e.g. username already taken)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/groups/{groupId}/participants/{participantId}:
    patch:
      tags: [ Participants ]
      summary: Update unlinked participant (owner/admin)
      description: |
        Updates firstName / lastName / photoUrl of an unlinked participant
        (`groupId` set, no Telegram). Forbidden for registered Telegram users.
      operationId: updateParticipant
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/ParticipantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantUpdateRequest"
      responses:
        "200":
          description: Updated participant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [ Participants ]
      summary: Delete participant (owner/admin)
      operationId: deleteParticipant
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/ParticipantId"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/participants/{participantId}/link-user:
    post:
      tags: [ Participants ]
      summary: Request link of registered user to unlinked participant (owner/admin)
      operationId: linkParticipantUser
      description: |
        Creates a pending LINK_USER invitation for the registered Telegram user (`userId`)
        and notifies them in Telegram. The merge of the unlinked participant happens only
        after the invitee accepts.
        A pending LINK_USER may coexist with a pending GROUP_JOIN for the same invitee in the group.
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/ParticipantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkUserRequest"
      responses:
        "201":
          description: Link invitation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GroupInvitation"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"

  /api/groups/{groupId}/participants/{participantId}/role:
    patch:
      tags: [ Participants ]
      summary: Change participant role (owner/admin)
      operationId: updateParticipantRole
      description: |
        Changes the group role of a registered participant (`member` / `editor` / `admin`).
        Unlinked participants always stay `member` and cannot be assigned another role.

        Group owner (`created_by_user_id`) may assign any role and may change other admins.
        Admin who is not the owner may also assign `member` / `editor` / `admin`, but cannot
        change participants who are already `admin`. To transfer ownership use `POST …/transfer-ownership`.
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/ParticipantId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParticipantRoleUpdateRequest"
      responses:
        "200":
          description: Updated participant
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Participant"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/matches/singles:
    get:
      tags: [ Matches ]
      summary: List singles matches in group (member-only)
      operationId: listGroupSinglesMatches
      description: |
        Returns all singles matches in the group, sorted by createdAt descending.
        Use this for the group match history UI (not `/api/me/matches`).
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/Limit20Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Paginated singles matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [ Matches ]
      summary: Create singles match (owner/admin/editor)
      operationId: createSinglesMatch
      description: |
        Create a singles match. Body is the same as before without `kind` (singles is implied by the path).

        Replaces the old `POST /api/groups/{groupId}/matches` with `kind: singles`.
        One DB row is created per game in `score.games` (1–5). No response body.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchSinglesCreateRequest"
      responses:
        "201":
          description: Match(es) created (one row per game in score; no response body)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/matches/singles/{matchId}:
    patch:
      tags: [ Matches ]
      summary: Update singles match result (owner/admin/editor)
      operationId: updateSinglesMatch
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchUpdateRequest"
      responses:
        "200":
          description: Updated match
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Match"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [ Matches ]
      summary: Delete singles match result (owner/admin)
      operationId: deleteSinglesMatch
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/MatchId"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/matches/doubles:
    get:
      tags: [ Matches ]
      summary: List doubles matches in group (member-only)
      operationId: listGroupDoublesMatches
      description: |
        Returns all doubles matches in the group, sorted by createdAt descending.
        Use this for the group match history UI (not `/api/me/matches`).
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/Limit20Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Paginated doubles matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
    post:
      tags: [ Matches ]
      summary: Create doubles match (owner/admin/editor)
      operationId: createDoublesMatch
      description: |
        Create a doubles match. Body is the same as before without `kind`.

        Replaces the old `POST /api/groups/{groupId}/matches` with `kind: doubles`.
        One DB row is created per game in `score.games` (1–5). No response body.
      parameters:
        - $ref: "#/components/parameters/GroupId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchDoublesCreateRequest"
      responses:
        "201":
          description: Match(es) created (one row per game in score; no response body)
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/matches/doubles/{matchId}:
    patch:
      tags: [ Matches ]
      summary: Update doubles match result (owner/admin/editor)
      operationId: updateDoublesMatch
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/MatchId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MatchUpdateRequest"
      responses:
        "200":
          description: Updated match
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Match"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      tags: [ Matches ]
      summary: Delete doubles match result (owner/admin)
      operationId: deleteDoublesMatch
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/MatchId"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/me/games-stats:
    get:
      tags: [ Stats ]
      summary: Current user aggregate game statistics
      operationId: getMyGamesStats
      description: Returns win/loss totals for singles and doubles (across all groups the user participates in).
      responses:
        "200":
          description: Aggregate game stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserGamesStats"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me/matches/singles:
    get:
      tags: [ Stats ]
      summary: List current user's singles matches (paginated)
      operationId: listMySinglesMatches
      description: |
        Returns singles matches where the current user participated (via linked participant),
        sorted by createdAt descending.

        Optional **`groupId`**: when set, only matches in that group are returned. The caller must be a member of the group.

        For full group match history use `GET /api/groups/{groupId}/matches/singles`.
      parameters:
        - $ref: "#/components/parameters/OptionalGroupId"
        - $ref: "#/components/parameters/Limit20Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Paginated singles matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/me/matches/singles/bounds:
    get:
      tags: [ Stats ]
      summary: Earliest singles match time for current user
      description: |
        Oldest `createdAt` among singles matches of the current user.
        Used by Elo history charts to disable paging further into the past.
        `earliestCreatedAt` is null when there are no singles matches.
      operationId: getMySinglesMatchBounds
      responses:
        "200":
          description: Bounds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchTimeBounds"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me/matches/doubles:
    get:
      tags: [ Stats ]
      summary: List current user's doubles matches (paginated)
      operationId: listMyDoublesMatches
      description: |
        Returns doubles matches where the current user participated (via linked participant),
        sorted by createdAt descending.

        Optional **`groupId`**: when set, only matches in that group are returned. The caller must be a member of the group.

        For full group match history use `GET /api/groups/{groupId}/matches/doubles`.
      parameters:
        - $ref: "#/components/parameters/OptionalGroupId"
        - $ref: "#/components/parameters/Limit20Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Paginated doubles matches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/me/matches/doubles/bounds:
    get:
      tags: [ Stats ]
      summary: Earliest doubles match time for current user
      description: |
        Oldest `createdAt` among doubles matches of the current user (any pair).
        Used by Elo history charts to disable paging further into the past.
        `earliestCreatedAt` is null when there are no doubles matches.
      operationId: getMyDoublesMatchBounds
      responses:
        "200":
          description: Bounds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MatchTimeBounds"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me/ratings:
    get:
      tags: [ Ratings ]
      summary: Current user ratings (singles + doubles)
      operationId: getMyRatings
      parameters:
        - $ref: "#/components/parameters/Limit50Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Ratings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserRatings"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me/ratings/singles/history:
    get:
      tags: [ Ratings ]
      summary: Singles Elo history for current user in a time window
      description: |
        Returns chronological Elo points for singles matches in `[startTime, endTime)`
        (`endTime` omitted → open-ended up to now).

        Server applies a fixed safety-cap of **200** points per response (oldest-first within
        the window via match `created_at ASC`). There is no client `limit` parameter.
        If the response contains exactly 200 items, the series for this window may be truncated —
        clients should warn the user and/or narrow the time window.
      operationId: listMySinglesRatingHistory
      parameters:
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
      responses:
        "200":
          description: Rating history points (at most 200), chronological
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingHistoryPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/me/ratings/doubles/history:
    get:
      tags: [ Ratings ]
      summary: Doubles Elo history for current user across all pairs in a time window
      description: |
        Returns chronological Elo points for doubles matches of all pairs where the current
        user is a member, in `[startTime, endTime)` (`endTime` omitted → open-ended up to now).

        Each item includes `teamId` and partner identity so clients can draw one colored series
        per pair. Server applies a fixed safety-cap of **200** points per response (oldest-first
        via match `created_at ASC`). There is no client `limit` parameter.
        If the response contains exactly 200 items, the series for this window may be truncated.
      operationId: listMyDoublesRatingHistory
      parameters:
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
      responses:
        "200":
          description: Doubles rating history points (at most 200), chronological
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DoublesRatingHistoryPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/groups/{groupId}/ratings/singles:
    get:
      tags: [ Ratings ]
      summary: Singles Elo leaderboard in group (member-only)
      operationId: listSinglesRatings
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/Limit50Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Leaderboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingRowSinglesPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/groups/{groupId}/ratings/doubles:
    get:
      tags: [ Ratings ]
      summary: Doubles Elo leaderboard in group (member-only)
      operationId: listDoublesRatings
      parameters:
        - $ref: "#/components/parameters/GroupId"
        - $ref: "#/components/parameters/Limit50Max200"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: Leaderboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RatingRowDoublesPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    GroupId:
      in: path
      name: groupId
      required: true
      schema: { type: string }
    ParticipantId:
      in: path
      name: participantId
      required: true
      schema: { type: string }
    InvitationId:
      in: path
      name: invitationId
      required: true
      schema: { type: string }
    MatchId:
      in: path
      name: matchId
      required: true
      schema: { type: string }

    PageToken:
      in: query
      name: pageToken
      description: Opaque cursor for the next page (omit on first request)
      schema: { type: string }
    Unread:
      in: query
      name: unread
      description: true — unread only; false — read only
      schema: { type: boolean, default: true }
    NameQuery:
      in: query
      name: query
      description: Prefix filter on username or name (case-insensitive)
      schema: { type: string, default: "" }
    RegisteredOnly:
      in: query
      name: registeredOnly
      required: false
      description: |
        If true, only Telegram-registered users (`tg_id IS NOT NULL`).
        Use for invite / link-user pickers so unlinked participants are not returned.
      schema: { type: boolean, default: false }
    OptionalGroupId:
      in: query
      name: groupId
      required: false
      description: Filter to this group UUID (membership required)
      schema:
        type: string
        format: uuid
    StartTime:
      in: query
      name: startTime
      required: true
      description: Inclusive lower bound of the time window
      schema: { type: string, format: date-time }
    EndTime:
      in: query
      name: endTime
      required: false
      description: Exclusive upper bound; omit for open-ended window up to now
      schema: { type: string, format: date-time }
    Limit10Max100:
      in: query
      name: limit
      description: Page size
      schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
    Limit20Max100:
      in: query
      name: limit
      description: Page size
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    Limit20Max200:
      in: query
      name: limit
      description: Page size
      schema: { type: integer, minimum: 1, maximum: 200, default: 20 }
    Limit50Max200:
      in: query
      name: limit
      description: Page size
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    TelegramUser:
      type: object
      required:
        - id
        - auth_date
        - hash
      properties:
        id:
          type: integer
          format: int64
        first_name:
          type: string
        last_name:
          type: string
        username:
          type: string
        photo_url:
          type: string
        auth_date:
          type: integer
          format: int64
        hash:
          type: string

    TokenResponse:
      type: object
      required:
        - accessToken
        - refreshToken
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string

    RefreshRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string

    ErrorResponse:
      type: object
      required:
        - timestamp
        - message
        - path
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
        path:
          type: string

    PhotoCrop:
      type: object
      additionalProperties: false
      description: |
        Normalized crop rectangle on the original photo (0–1 relative to width/height).
        All four fields required when present. x+width ≤ 1, y+height ≤ 1.
      properties:
        x:
          type: number
          minimum: 0
          maximum: 1
        y:
          type: number
          minimum: 0
          maximum: 1
        width:
          type: number
          exclusiveMinimum: 0
          maximum: 1
        height:
          type: number
          exclusiveMinimum: 0
          maximum: 1
      required: [ x, y, width, height ]

    User:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        username: { type: string }
        firstName: { type: string }
        lastName: { type: string }
        photoUrl:
          type: string
          description: Profile photo URL (http/https)
        photoCrop:
          $ref: "#/components/schemas/PhotoCrop"
      required: [ id, username ]

    UserUpdateRequest:
      type: object
      additionalProperties: false
      description: |
        Partial update: only fields present in the body are applied.
        `firstName` / `lastName` update the corresponding columns; omitted fields are left unchanged.
        `photoUrl` sets photo (empty string clears). `photoCrop` sets crop when present.
        At least one field must be present.
      properties:
        firstName: { type: string, minLength: 1, maxLength: 255 }
        lastName: { type: string, minLength: 1, maxLength: 255 }
        photoUrl:
          type: string
          maxLength: 4096
          description: Profile photo http/https URL; empty string clears photo
        photoCrop:
          $ref: "#/components/schemas/PhotoCrop"

    GroupMemberRole:
      type: string
      description: |
        Role of a registered participant in the group.
        Group owner is not a role: it is `group_table.created_by_user_id` (see Group.isOwner).
      enum: [ member, editor, admin ]

    ParticipantRoleUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        role:
          $ref: "#/components/schemas/GroupMemberRole"
      required: [ role ]

    GroupOwnershipTransferRequest:
      type: object
      additionalProperties: false
      properties:
        userId:
          type: string
          description: Registered group member who becomes the new owner
      required: [ userId ]

    GroupInvitationKind:
      type: string
      enum: [ group_join, link_user ]

    GroupInvitationStatus:
      type: string
      enum: [ pending, accepted, rejected ]

    InvitationDecision:
      type: string
      enum: [ accept, reject ]

    InvitationRespondRequest:
      type: object
      additionalProperties: false
      properties:
        decision:
          $ref: "#/components/schemas/InvitationDecision"
      required: [ decision ]

    GroupInvitation:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        kind:
          $ref: "#/components/schemas/GroupInvitationKind"
        status:
          $ref: "#/components/schemas/GroupInvitationStatus"
        groupId: { type: string }
        groupName: { type: string }
        inviteeUserId: { type: string }
        invitedByUserId: { type: string }
        unlinkedUserId:
          type: string
          description: Present for link_user invitations
        createdAt:
          type: string
          format: date-time
      required: [ id, kind, status, groupId, inviteeUserId, invitedByUserId, createdAt ]

    UserNotificationKind:
      type: string
      enum:
        - group_join_invite
        - link_user_invite
        - group_join_accepted
        - link_user_accepted
        - group_join_rejected
        - link_user_rejected

    UserNotification:
      type: object
      description: Base user notification; concrete shape depends on `kind`
      discriminator:
        propertyName: kind
        mapping:
          group_join_invite: "#/components/schemas/GroupJoinInviteNotification"
          link_user_invite: "#/components/schemas/LinkUserInviteNotification"
          group_join_accepted: "#/components/schemas/GroupJoinAcceptedNotification"
          link_user_accepted: "#/components/schemas/LinkUserAcceptedNotification"
          group_join_rejected: "#/components/schemas/GroupJoinRejectedNotification"
          link_user_rejected: "#/components/schemas/LinkUserRejectedNotification"
      properties:
        id: { type: string }
        kind:
          $ref: "#/components/schemas/UserNotificationKind"
        senderUserId: { type: string }
        senderFirstName: { type: string }
        senderLastName: { type: string }
        senderPhotoUrl:
          type: string
          description: Sender profile photo URL (http/https)
        groupId: { type: string }
        groupName: { type: string }
        unread: { type: boolean }
        createdAt:
          type: string
          format: date-time
      required: [ id, kind, senderUserId, groupId, unread, createdAt ]

    GroupJoinInviteNotification:
      allOf:
        - $ref: "#/components/schemas/UserNotification"
        - type: object
          additionalProperties: false
          properties:
            invitationId:
              type: string
              description: Use respondToInvitation endpoint
            invitationStatus:
              $ref: "#/components/schemas/GroupInvitationStatus"
          required: [ invitationId, invitationStatus ]

    LinkUserInviteNotification:
      allOf:
        - $ref: "#/components/schemas/UserNotification"
        - type: object
          additionalProperties: false
          properties:
            invitationId:
              type: string
              description: Use respondToInvitation endpoint
            invitationStatus:
              $ref: "#/components/schemas/GroupInvitationStatus"
            unlinkedUserId:
              type: string
              description: Unlinked participant to merge into invitee's account
            unlinkedFirstName: { type: string }
            unlinkedLastName: { type: string }
            unlinkedPhotoUrl:
              type: string
              description: Unlinked participant profile photo URL (http/https)
          required: [ invitationId, invitationStatus, unlinkedUserId ]

    GroupJoinAcceptedNotification:
      allOf:
        - $ref: "#/components/schemas/UserNotification"
        - type: object
          additionalProperties: false
          properties:
            invitationId: { type: string }
            inviteeUserId:
              type: string
              description: User who accepted the group invitation
          required: [ invitationId, inviteeUserId ]

    LinkUserAcceptedNotification:
      allOf:
        - $ref: "#/components/schemas/UserNotification"
        - type: object
          additionalProperties: false
          properties:
            invitationId: { type: string }
            inviteeUserId:
              type: string
              description: User who accepted the account link request
            unlinkedUserId:
              type: string
              description: Unlinked participant that was linked
          required: [ invitationId, inviteeUserId, unlinkedUserId ]

    GroupJoinRejectedNotification:
      allOf:
        - $ref: "#/components/schemas/UserNotification"
        - type: object
          additionalProperties: false
          properties:
            invitationId: { type: string }
            inviteeUserId:
              type: string
              description: User who declined the group invitation
          required: [ invitationId, inviteeUserId ]

    LinkUserRejectedNotification:
      allOf:
        - $ref: "#/components/schemas/UserNotification"
        - type: object
          additionalProperties: false
          properties:
            invitationId: { type: string }
            inviteeUserId:
              type: string
              description: User who declined the account link request
            unlinkedUserId:
              type: string
              description: Unlinked participant that was requested to be linked
          required: [ invitationId, inviteeUserId, unlinkedUserId ]

    UserNotificationPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/UserNotification"
        pageToken:
          type: string
          description: Opaque cursor for the next page; omit/null when no more pages
      required: [ items ]

    Group:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        name: { type: string, example: Friday Badminton }
        myRole:
          $ref: "#/components/schemas/GroupMemberRole"
        isOwner:
          type: boolean
          description: True when current user is group_table.created_by_user_id
      required: [ id, name, isOwner ]

    GroupCreateRequest:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
      required: [ name ]

    GroupPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Group"
        pageToken:
          type: string
      required: [ items ]

    UserPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/User"
        pageToken:
          type: string
      required: [ items ]

    Participant:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        name: { type: string, example: Maks, description: Display name (firstName + lastName) }
        firstName: { type: string }
        lastName: { type: string }
        username:
          type: string
          description: Login / handle
        userId:
          type: string
          description: Linked registered user id (if any)
        groupId:
          type: string
          description: |
            Owning group for an unlinked (not registered via Telegram) participant.
            Null for registered Telegram users.
        photoUrl:
          type: string
          description: Profile photo URL (http/https; Telegram or external)
        photoCrop:
          $ref: "#/components/schemas/PhotoCrop"
        role:
          $ref: "#/components/schemas/GroupMemberRole"
      required: [ id, name, username, role ]

    ParticipantCreateRequest:
      type: object
      additionalProperties: false
      properties:
        name: { type: string, minLength: 1, maxLength: 120 }
      required: [ name ]

    PhotoUploadUrlRequest:
      type: object
      additionalProperties: false
      description: Request a presigned PUT URL for a participant profile photo.
      properties:
        contentType:
          type: string
          enum: [ image/jpeg, image/png, image/webp ]
          description: MIME type of the file that will be uploaded
        contentLength:
          type: integer
          format: int64
          minimum: 1
          maximum: 5242880
          description: Optional file size in bytes (max 5 MiB); validated when present
      required: [ contentType ]

    PhotoUploadUrlResponse:
      type: object
      additionalProperties: false
      properties:
        uploadUrl:
          type: string
          format: uri
          description: Presigned PUT URL for the browser upload
        publicUrl:
          type: string
          format: uri
          description: Public https URL to store as participant photoUrl after upload
        objectKey:
          type: string
          description: Object key inside the bucket
        expiresAt:
          type: string
          format: date-time
          description: When the presigned uploadUrl expires
      required: [ uploadUrl, publicUrl, objectKey, expiresAt ]

    ParticipantUnlinkedCreateRequest:
      type: object
      additionalProperties: false
      description: |
        Create a participant that does not yet have a Telegram account.
        `username` is chosen by the client (typically derived from first/last name).
      properties:
        username: { type: string, minLength: 1, maxLength: 255 }
        firstName: { type: string, minLength: 1, maxLength: 255 }
        lastName: { type: string, minLength: 1, maxLength: 255 }
        photoUrl:
          type: string
          maxLength: 4096
          description: Optional profile photo http/https URL (Telegram, VK, etc.)
        photoCrop:
          allOf:
            - $ref: "#/components/schemas/PhotoCrop"
          description: Optional crop rectangle on photoUrl
      required: [ username, firstName, lastName ]

    ParticipantUpdateRequest:
      type: object
      additionalProperties: false
      description: |
        Partial update: only fields present in the body are applied.
        `firstName` / `lastName` update the corresponding columns; omitted fields are left unchanged.
        `photoUrl` sets photo (empty string clears). `photoCrop` sets crop when present.
        At least one field must be present.
      properties:
        firstName: { type: string, minLength: 1, maxLength: 255 }
        lastName: { type: string, minLength: 1, maxLength: 255 }
        photoUrl:
          type: string
          maxLength: 4096
          description: Profile photo http/https URL; empty string clears photo
        photoCrop:
          $ref: "#/components/schemas/PhotoCrop"

    LinkUserRequest:
      type: object
      additionalProperties: false
      properties:
        userId: { type: string }
      required: [ userId ]

    MatchKind:
      type: string
      enum: [ singles, doubles ]

    Match:
      type: object
      additionalProperties: false
      properties:
        id: { type: string }
        kind: { $ref: "#/components/schemas/MatchKind" }
        createdAt: { type: string, format: date-time }
        # Singles: teamA = [p1], teamB = [p2]
        # Doubles: teamA = [p1,p2], teamB = [p3,p4]
        teamA:
          type: array
          items: { type: string, description: Participant id }
          minItems: 1
          maxItems: 2
        teamB:
          type: array
          items: { type: string, description: Participant id }
          minItems: 1
          maxItems: 2
        score:
          $ref: "#/components/schemas/MatchScore"
      required: [ id, kind, createdAt, teamA, teamB, score ]

    MatchScore:
      type: object
      additionalProperties: false
      description: |
        Match score as list of games. Each game has pointsA and pointsB.
      properties:
        games:
          type: array
          minItems: 1
          maxItems: 5
          items:
            $ref: "#/components/schemas/GameScore"
      required: [ games ]

    GameScore:
      type: object
      additionalProperties: false
      properties:
        pointsA: { type: integer, minimum: 0 }
        pointsB: { type: integer, minimum: 0 }
      required: [ pointsA, pointsB ]

    MatchSinglesCreateRequest:
      type: object
      additionalProperties: false
      properties:
        teamA:
          type: array
          items: { type: string }
          minItems: 1
          maxItems: 1
        teamB:
          type: array
          items: { type: string }
          minItems: 1
          maxItems: 1
        score:
          $ref: "#/components/schemas/MatchScore"
      required: [ teamA, teamB, score ]

    MatchDoublesCreateRequest:
      type: object
      additionalProperties: false
      properties:
        teamA:
          type: array
          items: { type: string }
          minItems: 2
          maxItems: 2
        teamB:
          type: array
          items: { type: string }
          minItems: 2
          maxItems: 2
        score:
          $ref: "#/components/schemas/MatchScore"
      required: [ teamA, teamB, score ]

    MatchUpdateRequest:
      type: object
      additionalProperties: false
      description: >
        Partial update. Omitted fields keep current values.
        When teamA/teamB are present they must have 1–2 items (minItems).
      properties:
        teamA:
          type: array
          items: { type: string }
          minItems: 1
          maxItems: 2
        teamB:
          type: array
          items: { type: string }
          minItems: 1
          maxItems: 2
        score:
          $ref: "#/components/schemas/GameScore"
          description: Single game score for this match row (not a list).

    MatchPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Match" }
        pageToken:
          type: string
      required: [ items ]

    MatchTimeBounds:
      type: object
      additionalProperties: false
      description: Oldest match createdAt for the current user (chart past-pager bound).
      properties:
        earliestCreatedAt:
          type: string
          format: date-time
          nullable: true
          description: Oldest match createdAt; null when the user has no matches yet
      required: [ earliestCreatedAt ]

    UserGamesStats:
      type: object
      additionalProperties: false
      description: Aggregate singles/doubles statistics for the current user
      properties:
        singles:
          $ref: "#/components/schemas/StatsBlock"
        doubles:
          $ref: "#/components/schemas/StatsBlock"
      required: [ singles, doubles ]

    StatsBlock:
      type: object
      additionalProperties: false
      properties:
        matchesPlayed: { type: integer, minimum: 0 }
        matchesWon: { type: integer, minimum: 0 }
        matchesLost: { type: integer, minimum: 0 }
        winRate:
          type: number
          format: double
          minimum: 0
          maximum: 1
      required: [ matchesPlayed, matchesWon, matchesLost, winRate ]

    UserRatings:
      type: object
      additionalProperties: false
      properties:
        singlesElo:
          type: number
          format: double
          description: Current singles Elo (aggregated across groups where the user is linked)
        doublesByPartner:
          type: array
          description: Doubles Elo ratings grouped by partner
          items:
            type: object
            additionalProperties: false
            properties:
              partnerUserId: { type: string }
              partnerName: { type: string }
              partnerUsername: { type: string }
              partnerPhotoUrl:
                type: string
                description: Telegram profile photo URL (if available)
              games: { type: integer, minimum: 0 }
              wins: { type: integer, minimum: 0 }
              losses: { type: integer, minimum: 0 }
              elo: { type: number, format: double }
            required: [ partnerUserId, partnerName, partnerUsername, games, wins, losses, elo ]
        doublesByPartnerPageToken:
          type: string
          description: Opaque page token for fetching next page of doubles-by-partner ratings
      required: [ singlesElo, doublesByPartner ]

    RatingRowSingles:
      type: object
      additionalProperties: false
      properties:
        rank:
          type: integer
          minimum: 1
          description: Place in the leaderboard (1-based)
        participantId: { type: string }
        participantName: { type: string }
        elo: { type: number, format: double }
      required: [ rank, participantId, participantName, elo ]

    RatingRowDoubles:
      type: object
      additionalProperties: false
      description: |
        Elo for a pair. pairKey can be stable concatenation of sorted participant ids.
      properties:
        rank:
          type: integer
          minimum: 1
          description: Place in the leaderboard (1-based)
        pairKey: { type: string, example: "p1:p2" }
        participantNames:
          type: array
          items: { type: string }
          minItems: 2
          maxItems: 2
        elo: { type: number, format: double }
      required: [ rank, pairKey, participantNames, elo ]

    ParticipantPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Participant"
        pageToken:
          type: string
      required: [ items ]

    RatingRowSinglesPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/RatingRowSingles"
        pageToken:
          type: string
      required: [ items ]

    RatingRowDoublesPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/RatingRowDoubles"
        pageToken:
          type: string
      required: [ items ]

    RatingHistoryPoint:
      type: object
      additionalProperties: false
      description: |
        Elo after the match when rating history exists; `elo` is omitted/null if the match
        is not rated yet (recalculation lag).
      properties:
        matchId: { type: string }
        elo:
          type: number
          format: double
          description: Elo after this match; null when rating is not calculated yet
        createdAt: { type: string, format: date-time }
      required: [ matchId, createdAt ]

    RatingHistoryPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/RatingHistoryPoint"
      required: [ items ]

    DoublesRatingHistoryPoint:
      type: object
      additionalProperties: false
      description: |
        Doubles Elo after the match for the caller's pair; `elo` is null if not rated yet.
      properties:
        matchId: { type: string }
        teamId: { type: string, description: double_team id (series key) }
        partnerUserId: { type: string }
        partnerName: { type: string }
        partnerUsername: { type: string }
        partnerPhotoUrl:
          type: string
          description: Partner profile photo URL (if available)
        partnerPhotoCrop:
          $ref: "#/components/schemas/PhotoCrop"
        elo:
          type: number
          format: double
          description: Pair Elo after this match; null when rating is not calculated yet
        createdAt: { type: string, format: date-time }
      required: [ matchId, teamId, partnerUserId, partnerName, partnerUsername, createdAt ]

    DoublesRatingHistoryPage:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/DoublesRatingHistoryPoint"
      required: [ items ]
